<div class="body-divs first-div">
    <%= title %>
    <h2>Basic Review</h2>
    <div class="basic-review-nav">
        <div class="basic-review-nav-cols">
        <li class="review-topic-lis selected-text" id="topic-one">
            Micro vs Macrobiology
        </li>
        <li class="review-topic-lis" id="topic-two">
            Homeostasis and Dependency
        </li>
        <li class="review-topic-lis" id="topic-three">
            Blood and Circulation
        </li>
        <li class="review-topic-lis" id="topic-four">
            The Four Types of Tissues
        </li>
        <li class="review-topic-lis" id="topic-five">
            Important Organs
        </li>
        <li class="review-topic-lis" id="topic-six">
            The Skeleton; Bones
        </li>
        </div>
        <div class="basic-review-nav-cols">
        <li class="review-topic-lis" id="topic-seven">
            Neural Anatomy
        </li>
        <li class="review-topic-lis" id="topic-eight">
            The Nervous System; Sensation
        </li>
        <li class="review-topic-lis" id="topic-nine">
            Innate Self-Defense Mechanisms
        </li>
        <li class="review-topic-lis" id="topic-ten">
            The Digestive System
        </li>
        <li class="review-topic-lis" id="topic-eleven">
            The Urinary System
        </li>
        <li class="review-topic-lis" id="topic-twelve">
            The Reproductive System
        </li>
        </div>
        <div class="basic-review-nav-cols">
        <li class="review-topic-lis" id="topic-thirteen">
            The Immune System: Leukocytes
        </li>
        <li class="review-topic-lis" id="topic-fourteen">
            Lymphatic System
        </li>
        <li class="review-topic-lis" id="topic-fifteen">
            Viruses, Self-Replication, and Resistance
        </li>
        <li class="review-topic-lis" id="topic-sixteen">
            Adaptation and Mutation
        </li>
        <li class="review-topic-lis" id="topic-seventeen">
            A Brief Look Back at DNA
        </li>
        <li class="review-topic-lis" id="topic-eighteen">
            Oncology, Uncontrolled Proliferation, Metastasis
        </li>
        </div>
    </div>
    <% include topic1 %>
    <% include topic2 %>
    <% include topic3 %>
    <% include topic4 %>
    <% include topic5 %>
    <% include topic6 %>
    <% include topic7 %>
    <% include topic8 %>
    <% include topic9 %>
    <% include topic10 %>
    <% include topic11 %>
    <% include topic12 %>
    <% include topic13 %>
    <% include topic14 %>
    <% include topic15 %>
    <% include topic16 %>
    <% include topic17 %>
    <% include topic18 %>
</div>