<div class="game-center">
    <img src="../images/gamecenterbackground.jpg" alt="" class="game-center-background">
    <div class="game-center-title">Who's the Expert Here?</div>
    <div class="game-center-explanation">
        Before you receive your M.D. and begin curing patients, it is crucial that you have a complete,
        expert understanding of basic anatomy and how the body works. The game center is going to assume
        you finished studying all the topics or you're just reviewing old knowledge, and give the following
        quiz questions randomly, without selecting by topic.
    </div>
    <div class="game-center-explanation hidden">
        High scores will be saved and added to the scoreboard. At the end of each month, the person with the
        highest score will earn a free prize from the prize center. All prizes will be related to anatomy or medicine.
    </div>
    <div class="game-center-explanation hidden">
        Questions will be timed, and a skipped question is the same as an incorrect one. Good luck!
    </div>
</div>