<% include head %>
  <body>
    <button class="button-materialize-style hoverable">
      <span class="button-white-dot"></span>
    </button>
    <% include navbar %>
    <div class="background-image-floating"></div>
    <div class="flex-container">
      <h1>Welcome to Anatomy</h1>
      <div class="body-divs first-div">
        <h2>Basic Review</h2>
        <div class="basic-review-nav">
          <div class="basic-review-nav-cols">
            <li class="review-topic-lis selected-text" id="topic-one">
              Micro vs Macrobiology
            </li>
            <li class="review-topic-lis" id="topic-two">
              Homeostasis and Dependency
            </li>
            <li class="review-topic-lis" id="topic-three">
              Blood and Circulation
            </li>
            <li class="review-topic-lis" id="topic-four">
              The Four Types of Tissues
            </li>
            <li class="review-topic-lis" id="topic-five">
              Important Organs
            </li>
            <li class="review-topic-lis" id="topic-six">
              The Skeleton; Bones
            </li>
          </div>
          <div class="basic-review-nav-cols">
            <li class="review-topic-lis" id="topic-seven">
              Neural Anatomy
            </li>
            <li class="review-topic-lis" id="topic-eight">
              The Nervous System; Sensation
            </li>
            <li class="review-topic-lis" id="topic-nine">
              Innate Self-Defense Mechanisms
            </li>
            <li class="review-topic-lis" id="topic-ten">
              The Digestive System
            </li>
            <li class="review-topic-lis" id="topic-eleven">
              The Urinary System
            </li>
            <li class="review-topic-lis" id="topic-twelve">
              The Reproductive System
            </li>
          </div>
          <div class="basic-review-nav-cols">
            <li class="review-topic-lis" id="topic-thirteen">
              The Immune System: Leukocytes
            </li>
            <li class="review-topic-lis" id="topic-fourteen">
              Lymphatic System
            </li>
            <li class="review-topic-lis" id="topic-fifteen">
              Viruses, Self-Replication, and Resistance
            </li>
            <li class="review-topic-lis" id="topic-sixteen">
              Adaptation and Mutation
            </li>
            <li class="review-topic-lis" id="topic-seventeen">
              A Brief Look Back at DNA
            </li>
            <li class="review-topic-lis" id="topic-eighteen">
              Oncology, Uncontrolled Proliferation, Metastasis
            </li>
          </div>
        </div>
        <div class="review-topic-bodies" id="topic-one">
          <h3>
            Micro vs Macro
          </h3>
          <h4>
            When people say they are studying at the microbiological level, what exactly do they mean?
          </h4>
          <h4 class="keywords-title">Keywords for this section</h4>
          <div class="keywords-divs">
            <li>Microbiology</li>
            <li>Particles</li>
            <li>Microbes</li>
            <li>Microorganisms</li>
            <li>Macrobiology</li>
            <li>Organisms</li>
            <li>Organ Systems</li>
          </div>
          <p>
            There are several different levels, or layers, of the human body. All usually operate independently,
            but also help and rely on each other.
          </p>
          <p>
            Some of these levels include (from smallest to largest):
          </p>
          <p>
            (1) The Cellular Level: This level includes basic microbes such as cells, pathogens, neurotransmitters, etc.
            <br>
            (2) The Tissue Level: Tissues are usually just large compositions of cells. This level will include muscles,
            tendons, and ligaments.
            <br>
            (3) The Organ Level: Organs, are likewise, large compositions of tissues. These include well-known parts of
            the body such as your kidneys, liver, and heart.
            <br>
            (4) The Organism Level: As you guessed, these are large compositions of organs that work together in a system.
            Organisms are simple living and breathing things, such as you and me, or even non-mammals such as plants.
          </p>
          <p>
            Someone who is studying Microbiology is studying at the cellular level. They are studying at the lowest, most
            bottom layer of anatomy.
          </p>
          <p>
            As you can see though, there is a sort of build-up effect in the composition of living things, and thus even
            the absolute tiniest of microbes can play a pivotal part in how living things, like humans, are able to function.
          </p>
          <p>
            In fact, microbes are often the MOST important part, which is why Microbiology is such a large discipline of
            study amongst scientists. Think about how a computer works, for instance. When we use one casually, we mostly
            just pay attention to our keyboard and our display, until suddenly a huge warning modal pops up saying things
            we don't understand at all, and a few seconds later our computer shuts off and never turns back on again (and
            we really have no idea why that all just happened as well).
          </p>
          <p>
            When everything was working properly, we were in complete control. We toggled the user interface in the ways
            we wanted (such as typing and clicking), and gained what we desired from it (watching a certain YouTube video,
            or writing an email).
          </p>
          <p>
            When the error occured, we lost control, and we became somewhat helpless. That is because the error was internal
            to the computer's harddrive (or "brain"), and there is very little user-control a typical person has over that.
          </p>
          <p>
            Computers function much like "organisms". They have internal "organs", such as the RAM, the graphics card, 
            and the processor. They also have "tissues", such as all the little wires that connect everything, which
            are almost like blood vessels (arteries and veins). And the main function of these wires is to transport
            "bytes", or tiny pieces of information, from one "organ" to the next. It is a way of communication.
          </p>
          <p>
            The computer relies on these small-to-microscopic things it has internally to achieve the macroscopic web-browsing
            and video-streaming that seems very basic from the outside. When errors occur, like the one we talked about
            above, it is because one or several of those tiny things malfunctioned.
          </p>
          <p>
            The human body is exactly the same way. When somebody gets sick or becomes diseased, it is almost always at
            the Microbiological level. And to reiterate, this is why Microbiology is so important amongst scientists. It
            is believed to be the key to aiding sick people through better/non-existing medical treatments and/or pharmaceuticals.
          </p>
        </div>
        <div class="review-topic-bodies hidden" id="topic-two">
          <h3>
            Homeostasis
          </h3>
          <h4>
              "And I hope you always stay the same..."
              <br>
              - Joey McIntyre
          </h4>
          <h4 class="keywords-title">Keywords for this section</h4>
          <div class="keywords-divs">
            <li>"homeo"</li>
            <li>"stasis"</li>
            <li>Susceptible</li>
            <li>Contol Center</li>
            <li>Neurological Pathways/Neurons</li>
            <li>Receptors/Effectors</li>
            <li>Sensory (Afferent)</li>
            <li>Motor (Efferent)</li>
          </div>
          <p>
            It is very important when learning scientific terminology to break the word up into all of the small root
            words that comprise it. At times it may seem annoying and pointless, but in the long-run, especially when
            seeking a future career in the medical field, it will be tremendously beneficial. Keep in mind that most
            languages are a derivation of Latin (medical terms in particular are almost entirely), so whenever a root
            word is defined on this site, it is Latin based unless otherwise noted.
          </p>
          <p>
            "homeo" means "similar".
          </p>
          <p>
            "stasis" means "equilibrium".
          </p>
          <p>
            When your laptop gets overwhelmed, you can easily tell because it gets overheated and the fans very loudly
            kick in to try to cool it down. It is unhappy because is out of its "comfort zone". It has to strain harder,
            and if it is asked to go to the furthest extreme, there is a chance maybe some wires will fuse or something
            will crash, and it will break.
          </p>
          <p>
            Your body behaves in a similar way. There are optimal "settings" at which your body functions are the highest
            level. These settings include temperature, blood-sugar level, and oxygen level, amongst others.
          </p>
          <p>
            As Macro-organisms, we are not expected to micro-manage everything going on internally ourselves. Like in our
            computer example, computers are designed to have that basic user interface (keyboard and mouse) to give simple
            commands, but everything else that carries out the command given by the user is done internally with millions
            of tiny moving parts and steps. We don't see it visually, but the computer itself does almost entirely everything
            during UX/UI interaction, and we usually just enjoy the fruits of its labor.
          </p>
          <p>
            The body subconsciously performs a gigantic amount of the interventions human beings need to perform as well
            as possible. One of the greatest gifts it provides us is self-defense.
          </p>
          <p>
            Usually we as Macro-organisms are not even aware when we encounter pathogens or something dangerous to our
            wellbeing. That is one of the many reasons it wouldn't make sense for us, on the conscious level, to be in
            charge of our own self-defense.
          </p>
          <p>
            The computer fan turning on when the computer is overheated is a pre-programmed method that a developer installed
            into the computer before it was sold. Homeostasis can also be thought of as a simlar-type method. Your body monitors
            itself at every moment of life, and the second it senses something "irregular" or "extreme" that could be
            harmful to you, it implements certain interventions and methods of its own to try to "correct" it or return
            your body back to balance again.
          </p>
          <p>
            To make this mechanism of homeostasis possible, the body has countless sensory receptors stationed all over the
            place. These sensors are the ones that continually take "readings" and send their finding back through nerves
            back to the body's control center, which is the brain.
          </p>
          <p>
            The brain is made up of several different parts with different functions, and some of these parts are dedcated
            to subconscious decision-making. So it is these parts of the brain which monitor receptor findings, and when
            homeostatic balance is required, send directions back out to the rest of the body to do certain things that will
            restore the balace. 
          </p>
          <p>
            To go back, it's the same as the pre-programmed temperature control method in the computer's
            harddrive being alerted from its own temperature sensors that the computer is getting to hot, and the computer's 
            harddrive sending a message back out to the computer's fan to turn on until the temperature is restored back to
            normal again.
          </p>
          <p>
            It is important to always remember that for the human body, especially internally, extreme conditions are
            almost always bad. They put the body in the most vulnerable and riskiest positions for sickness and injury,
            and make our immune system the most susceptible to pathogen invasion. A great illustration of this is how
            doctors are always required to wear gloves and/or clean their hands with alcohol before seeing a patient in 
            the hospital. This is not as much about the doctor protecting his hands, but mostly because patients in 
            diseased states are not in equilibrium internally, and thus are at far greater risk of infection and
            exacerbated illness through contact with the doctor's hands than a healthy person with normal homeostatic
            levels would be.
          </p>
          <p>
            "Homeostasis" almost literally means "similar equilibrium". Every type of organism has its own pre-wired 
            setting-levels of internal equilibrium that are ideal for living. Humans have their own, and those certain 
            sections of the human brain exist solely to try to maintain that comfy zone as much as they can for our bodies.
          </p>
          <p>
            The most common representation of homeostasis is a sinusoidal curve on a linear axis. The below picture shows
            this on the right side, while the left side represents how homeostatic mechanism works, as described above:
          </p>
          <img src="../images/homeostasis.jpeg" class="homeostatis-image">
          <p>
            Let's start with the right side. The graph represents the environment of the entire human body. In the middle
            blue area is the safe zone, where your body is in general homeostasis, and there is little risk of something
            bad happening. When that begins to sway, into the extreme red areas on the top and bottom, the body is in danger,
            and thus it knows it must do something to try to fight it.
          </p>
          <p>
            If, for instance, the body is in 120degreeF heat in a desert somewhere, the curve in the graph would rise and 
            enter the upper red extreme area. The body would then implement a mechanism to try to cool itself back down,
            such as directing all of its sweat glands to produce as much sweat as possible and excrete it to the skin surface
            as quickly as possible.
          </p>
          <p>
            The left side we will refer to as the HOMEOSTATIC CIRCLE: an imbalance alerts receptors, receptors 
            send a signal to the control centers of the brain, the brain sends directions or a response plan to effectors,
            and effectors carry out the plan as long as they have to.
          </p>
          <p>
            The nervous system functions in an almost back-and-forth way. The brain is in charge of everything. It makes all 
            decisions, whether consciously, when you swing your arms around, or subconsciously, when you blink your eyes. But 
            in order to make decisions, it needs to gather information to base its decisions off of.
          </p>
          <p>
            Thus there is the sensory side, which gathers data, and a motor side, which carries out the brain's commands.
          </p>
          <p>
            The sensory side receptors gather the data, the brain processes the data, and motor receptors receive the brain's 
            orders and carry them out. In between them all are neurological pathways, which are basically just a huge subway
            system of neurons strung together, which allow communication to be transmitted between them.
          </p>
          <p>
            "Afferent" simply refers to the sensory side, while "efferent" is the motor side. Thus everything in the first part
            of the homeostatic process, or the LEFT side of the HOMEOSTATIC CIRCLE above, can be thought of as afferent, while everything
            in the last part, the RIGHT side of the HOMEOSTATIC CIRCLE (as soon as a signal leaves the brain), is efferent.
          </p>
        </div>
        <div class="review-topic-bodies hidden" id="topic-three">
          <h3>
            Blood, Hematopoiesis, Circulation
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-four">
          <h3>
            The Four Types of Tissues, Tissue Levels, Tissue Groups
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-five">
          <h3>
            Organs, Organ Levels, Organ Systems
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-six">
          <h3>
            Bones and the Skeletal System
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-seven">
          <h3>
            Neurobiology, Brain Anatomy
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-eight">
          <h3>
            Neurons, Nerves, The Nervous System
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-nine">
          <h3>
            Innate Defense: Built-in Body-guards
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-ten">
          <h3>
            The Digestive System, The Digestive Tract, Digestion
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-eleven">
          <h3>
            The Urinary System, Excretion
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-twelve">
          <h3>
            The Reproductive System
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-thirteen">
          <h3>
            The Immune System: Leukocytes and Other Self-Defense Microbes
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-fourteen">
          <h3>
            The Lymphatic System (briefly)
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-fifteen">
          <h3>
            Viruses, Self-Proliferation, And Resistance
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-sixteen">
          <h3>
            Adaptation and Mutation
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-seventeen">
          <h3>
            DNA Revisited (briefly)
          </h3>
        </div>
        <div class="review-topic-bodies hidden" id="topic-eighteen">
          <h3>
            Oncology
          </h3>
        </div>
      </div>
      <div class="body-divs second-div hidden">
        <h2>Media</h2>
      </div>
      <div class="body-divs third-div hidden">
        <h2>Study Tools</h2>
      </div>
    </div>
  <script>
    $(".button-materialize-style, .navbar").mouseover(() => {
      $(".navlinks").css("left", "0");
    })
    window.onscroll = () => {
      stickyTopicsNav();
    }
    var sticky = document.querySelector(".basic-review-nav").offsetTop;
    function stickyTopicsNav() {
      if (window.pageYOffset > sticky) {
        $(".basic-review-nav").addClass("sticky");
      } else {
        $(".basic-review-nav").removeClass("sticky");
      }
    }
    $(window).click((e) => {
      const el = e.target;
      if (!$(el).attr('class').includes("navlinks") && !$(el).attr('class').includes("review-topic-lis")) {
        if (!$(".navlinks").css("left", "-10%")) {
          $(".navlinks").css("left", "-10%");
        }
      }
      if (el.id === "nav-first-link") {
        if (!el.classList.contains("selected")) {
          $(".navlinks-link").removeClass("selected");
          $(el).addClass("selected");
        }
        $(".body-divs").removeClass("hidden");
        $.each($(".body-divs"), function(i, div) {
          if (!$(div).attr('class').includes("first-div")) {
            $(div).addClass("hidden");
          }
        });
      } else if (el.id === "nav-second-link") {
        if (!el.classList.contains("selected")) {
          $(".navlinks-link").removeClass("selected");
          $(el).addClass("selected");
        }
        $(".body-divs").removeClass("hidden");
        $.each($(".body-divs"), function(i, div) {
          if (!$(div).attr('class').includes("second-div")) {
            $(div).addClass("hidden");
          }
        });
      } else if (el.id === "nav-third-link") {
        if (!el.classList.contains("selected")) {
          $(".navlinks-link").removeClass("selected");
          $(el).addClass("selected");
        }
        $(".body-divs").removeClass("hidden");
        $.each($(".body-divs"), function(i, div) {
          if (!$(div).attr('class').includes("third-div")) {
            $(div).addClass("hidden");
          }
        });
      } else if (el.classList.contains("review-topic-lis")) {
        $(".review-topic-lis").removeClass("selected-text");
        $(el).addClass("selected-text");
        $(".review-topic-bodies").removeClass("hidden");
        $.each($(".review-topic-bodies"), function(i, body) {
          if (el.id !== body.id) {
            $(body).addClass("hidden");
          }
        });
      }
    })
  </script>
  </body>
</html>
