<div class="body-divs second-div hidden">
    <h2>Media Player</h2>
    <div class="media-player">
        <img class="fullscreen-toggles" src="../images/fullscreen.png" width="25px" height="25px" alt="" id="maximize">
        <img class="fullscreen-toggles hidden" src="../images/minimize.png" width="25px" height="25px" alt="" id="minimize">
        <img class="iframe-toggles selected" src="../images/articles.png" alt="" id="media-articles">
        <img class="iframe-toggles" src="../images/videos.png" alt="" id="media-videos">
        <img class="iframe-toggles" src="../images/camera.png" alt="" id="media-images">
        <div class="media-player-col">
            <div class="col-headings">
                NEW
            </div>
            <ul class="col-lists">

            </ul>
        </div>
        <iframe class="media-player-iframe" src="../images/nature.pdf" width="80%" height="100%" scrolling="auto" frameBorder="0"></iframe>
        <div class="media-player-col">
            <div class="col-headings">
                SAVED
            </div>
            <ul class="col-lists">

            </ul>
        </div>
    </div>
</div>