<nav class="navbar"></nav>
<ul class="navlinks">
    <li class="navlinks-link selected" id="nav-first-link">Basics</li>
    <li class="navlinks-link" id="nav-second-link">Media</li>
    <li class="navlinks-link" id="nav-third-link">Study Tools</li>
    <li class="navlinks-link" id="nav-fourth-link">Notetaking Center</li>
</ul>