<div class="body-divs third-div hidden">
    <h2>Study Tools</h2>
    <h4>Flash Card Center</h4>
    <div class="flash-card-center">
        <div class="flash-card-practice-container">
            <div class="practice-container-categories">
                <li class="practice-container-category-label">
                    Topics:
                </li>
                <li class="practice-container-category-lis selected">
                    I
                </li>
                <li class="practice-container-category-lis">
                    II
                </li>
                <li class="practice-container-category-lis">
                    II
                </li>
                <li class="practice-container-category-lis">
                    IV
                </li>
                <li class="practice-container-category-lis">
                    V
                </li>
                <li class="practice-container-category-lis">
                    VI
                </li>
                <li class="practice-container-category-lis">
                    VII
                </li>
                <li class="practice-container-category-lis">
                    VIII
                </li>
                <li class="practice-container-category-lis">
                    IX
                </li>
                <li class="practice-container-category-lis">
                    X
                </li>
                <li class="practice-container-category-lis">
                    XI
                </li>
                <li class="practice-container-category-lis">
                    XII
                </li>
                <li class="practice-container-category-lis">
                    XIII
                </li>
                <li class="practice-container-category-lis">
                    XIV
                </li>
                <li class="practice-container-category-lis">
                    XV
                </li>
                <li class="practice-container-category-lis">
                    XVI
                </li>
                <li class="practice-container-category-lis">
                    XVII
                </li>
                <li class="practice-container-category-lis">
                    XVIII
                </li>
                <li class="practice-container-category-lis">
                    *
                </li>
            </div>
            <div class="flash-card hoverable">
                <div class="flash-card-back">
                    <div class="flash-card-category">
                        Homeostasis
                    </div>
                    <div class="flash-card-answer">
                        (A) towards the control center
                    </div>
                    <div class="flash-card-answer-explanation">

                    </div>
                </div>
                <div class="flash-card-front">
                    <div class="flash-card-category">
                        Homeostasis
                    </div>
                    <div class="flash-card-question">
                        An afferent pathway goes: (A) towards the control center (B) away from the control center
                    </div>
                    <div class="flash-card-hint">
                        Hint:&nbsp;
                        <span class="flash-card-hint-hidden">
                            Click to Reveal
                        </span>
                        <span class="flash-card-hint-revealed hidden">
                            "af" comes from "ad" which is found in the word "adhere", which means "to stick together"
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flash-card-maker-container">
            <form action="post" class="flash-card-maker-form">
                <label for="">Card Maker</label>
                <div class="form-row">
                    <input type="text" placeholder="Topic">
                    <input type="text" placeholder="Category">
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Question">
                    <input type="text" placeholder="Hint">
                </div>
                <div class="form-row">
                    <input type="text" placeholder="Answer">
                    <input type="text" placeholder="Explanation">
                </div>
            </form>
        </div>
    </div>
</div>