<div class="review-topic-bodies" id="topic-one">
    <h3>
    Micro vs Macro
    </h3>
    <h4>
    When people say they are studying at the microbiological level, what exactly do they mean?
    </h4>
    <h4 class="keywords-title">Keywords for this section</h4>
    <div class="keywords-divs">
    <li>Microbiology</li>
    <li>Particles</li>
    <li>Microbes</li>
    <li>Microorganisms</li>
    <li>Macrobiology</li>
    <li>Organisms</li>
    <li>Organ Systems</li>
    </div>
    <p>
    There are several different levels, or layers, of the human body. All usually operate independently,
    but also help and rely on each other.
    </p>
    <p>
    Some of these levels include (from smallest to largest):
    </p>
    <p>
    (1) The Cellular Level: This level includes basic microbes such as cells, pathogens, neurotransmitters, etc.
    <br>
    (2) The Tissue Level: Tissues are usually just large compositions of cells. This level will include muscles,
    tendons, and ligaments.
    <br>
    (3) The Organ Level: Organs, are likewise, large compositions of tissues. These include well-known parts of
    the body such as your kidneys, liver, and heart.
    <br>
    (4) The Organism Level: As you guessed, these are large compositions of organs that work together in a system.
    Organisms are simple living and breathing things, such as you and me, or even non-mammals such as plants.
    </p>
    <p>
    Someone who is studying Microbiology is studying at the cellular level. They are studying at the lowest, most
    bottom layer of anatomy.
    </p>
    <p>
    As you can see though, there is a sort of build-up effect in the composition of living things, and thus even
    the absolute tiniest of microbes can play a pivotal part in how living things, like humans, are able to function.
    </p>
    <p>
    In fact, microbes are often the MOST important part, which is why Microbiology is such a large discipline of
    study amongst scientists. Think about how a computer works, for instance. When we use one casually, we mostly
    just pay attention to our keyboard and our display, until suddenly a huge warning modal pops up saying things
    we don't understand at all, and a few seconds later our computer shuts off and never turns back on again (and
    we really have no idea why that all just happened as well).
    </p>
    <p>
    When everything was working properly, we were in complete control. We toggled the user interface in the ways
    we wanted (such as typing and clicking), and gained what we desired from it (watching a certain YouTube video,
    or writing an email).
    </p>
    <p>
    When the error occured, we lost control, and we became somewhat helpless. That is because the error was internal
    to the computer's harddrive (or "brain"), and there is very little user-control a typical person has over that.
    </p>
    <p>
    Computers function much like "organisms". They have internal "organs", such as the RAM, the graphics card, 
    and the processor. They also have "tissues", such as all the little wires that connect everything, which
    are almost like blood vessels (arteries and veins). And the main function of these wires is to transport
    "bytes", or tiny pieces of information, from one "organ" to the next. It is a way of communication.
    </p>
    <p>
    The computer relies on these small-to-microscopic things it has internally to achieve the macroscopic web-browsing
    and video-streaming that seems very basic from the outside. When errors occur, like the one we talked about
    above, it is because one or several of those tiny things malfunctioned.
    </p>
    <p>
    The human body is exactly the same way. When somebody gets sick or becomes diseased, it is almost always at
    the Microbiological level. And to reiterate, this is why Microbiology is so important amongst scientists. It
    is believed to be the key to aiding sick people through better/non-existing medical treatments and/or pharmaceuticals.
    </p>
</div>