<div class="review-topic-bodies hidden" id="topic-eighteen">
    <h3>
    Nursing Interventions and Basic Medicine
    </h3>
    <h4>
        Q: How many nurses does it take to screw in a light bulb?
        <br>
        A: None. They just have a nursing student do it.
    </h4>
    <h4 class="keywords-title">Keywords for this section</h4>
    <div class="keywords-divs">
    <li>Antisepsis</li>
    <li>Aspiration</li>
    <li>Ambulation</li>
    <li>Vital Signs</li>
    <li>Infection</li>
    <li>Necrosis</li>
    <li>Acute/Chronic</li>
    <li></li>
    </div>
    <p>
        There are two important concepts that need to be understood in the field of medicine, and they cannot
        be stressed enough:
        <br><br>
        (1) Most of the time, it is not medicine, but the patients' immune systems which heal them from illness.
        <br>
        (2) The leading cause of death in hospitals is not the disease the patient had upon admission, but sepsis
        the patient suffered after being admitted.
    </p>
    <p>
        Usually in external medicine, doctors have a much more hands-on role in returning the patient to normal health. If a
        bone is broken, a doctor or surgeon can carefully set the broken bone back into place and allow it to
        re-ossify.
    </p>
    <p>
        There are times in internal medicine that are also similar, such as when a patient has a stomach polyp (growth of tissue that
        can cause bleeding) inside of their colon, and the doctor performs an endoscopy to remove it. Also if someone is diabetic,
        a doctor will prescribe the correct dosages of insulin that will control the patient's blood-sugar levels, and the doctor will
        probably also recommend regular exercise, healthy diet, and cessation of smoking (if the person smokes).
    </p>
    <p>
        However the majority of situations involving patients in long-term care in hospitals involve something going on internally
        within the patient's body on the microscopic level, where doctors have little control and the patient's own immune system
        has to be relied upon.
    </p>
    <p>
        The immune system has the greatest ability in the world to fight internal disease, over doctors, medications, or any types
        of therapy. The role of doctors is to put the patient in a place where his/her immune system operates at an optimal level,
        and the role of most medications is to aid that effort, reduce general inflammation, and/or manage pain.
    </p>
    <p>
        When you get a common cold or a flu, there are some common interventions that are usually adhered to. Firstly, you usually 
        restrict yourself to bed-rest until you get better. One reason why is because your immune system does not operate as well
        when it is under stress. Thus if you're sick but you still push your body's gas pedal anyway and try to remain active, your
        immune system will be frustrated because some of the resources it needs, such as ATP (energy), to operate are being allocated
        to do the other things you shouldn't be doing instead.
    </p>
    <p>
        A second reason is because while your bed is a very warm place. Heat is a very prominent killer of pathogens and bacteria,
        so it only promotes recovery. Staying warm also prevents you from being cold, which could further put your immune system
        at risk and increase susceptibility to more pathogen attack.
    </p>
    <p>
        A third reason is because it promotes getting sleep. In general, when you sleep, your body is in recovery mode. The body uses
        your unconscious state to repair and maintain itself in every way to prepare for another day ahead. Part of that repair
        process extends to your immune system. It has a greater ability while you sleep to fight the pathogens it needs to.
    </p>
    <p>
        The last reason we will discuss is because if you are restricted to bed-rest, that also means that you're somewhat in a state
        of house arrest, and you're at the least risk of causing direct transmission of your cold/flu to someone else. In a sense, it's 
        a way of self-quaranteen.
    </p>
    <p>
        All of these concepts extend to the more severe, sometimes chronic diseases and conditions out there. A lot of times it's
        a time game: does the immune system have enough time to develop a defense mechanism against the disease and overcome it before
        the situation becomes fatal? Thus, the doctor's job is to first try to diagnose the disease correctly, decide the interventions
        that will promote the immune system's ability to win the battle before the disease does, and delegate those interventions to his 
        nurses to carry out.
    </p>
    <p>
        Strict bed-rest is almost always a given. If the person is suffering from pain, he may be given anti-inflammatory medication
        daily or even put on IV narcotics. If the person is recoverying from surgery or a severe laceration, his wound will be washed
        regularly as an antiseptic measure. Almost every single patient is ordered to be ambulated at least once a day (we will get into
        that in greater depth later).
    </p>
    <p>
        But the bottom line is that beyond these interventions that simply encourage the body's ability to heal itself, it is all pretty 
        much a time game. Doctors make rounds daily to checkup on their patients in long-term care to see how the progress is going
        (and sometimes adjust their orders accordingly), but in the end they are just hoping that the body will respond to their
        interventions well, and a recovery will occur. Until a result is ascertained, doctors talk about the state of the patient with 
        the word "prognosis", which is more of a prediction or forecast, because so much of the battle going on is out of their control.
    </p>
    <p>
        In lieu of all this, the responsibility of healthcare in these situations becomes less about actually curing the disease or ailment, 
        and more about being the body's sidekick and protecting it as much as possible while it tries to heal. The world "protecting" is
        is important here because as mentioned earlier, the #1 leading cause of death in hospitals is sepsis. The absolute #1 most critical
        concept a student has drilled into their heads in nursing school is that their primary responsibility is to not allow the patient's
        condition to get WORSE. It is not necessarily that they have to make the patient better, but they must never ever do anything that 
        might impede the patient's self-healing, or even worse, administer poor nursing techniques that lead to any complication.
    </p>
    <p>
        Patients with this severe conditions are already compromised to the highest level. Their protective barriers to new pathogens are 
        already incredibly susceptible. What leads the patient deaths the most is that this leaves them the most vulnerable to infections
        that normally we are safe against when we are healthy. When those pathogens manage to sneak into patients already fighting other 
        medical ailments, they often don't stand a chance against them, and this leads to the high number of deaths we see to this day.
        It wasn't the patient's original ailment that caused the death; it was the hospital sepsis.
    </p>
    <p>
        That makes antisepsis by far the most repeatedly harked upon concept of any nursing curriculum. If a nurse ever enters a patient
        room without practicing antisepsis first, even if they had just come from another patient room where they did, they are utterly 
        failing their most important pledge to the field of nursing. Practicing antisepsis starts will using the hand sanitizer that is
        outside of every patient room as well as putting on new gloves each and every time a patient room is entered. There are situations
        that require more as well.
    </p>
    <p>
        Most patient rooms will be under the category of Contact Precautions. This means that the patient is at risk to pathogens transmitted 
        through contact. This requires the standard hand sanitzer and gloves upon entry.
    </p>
    <p>
        Droplet precautions refers to patients susceptible to pathogens transmitted through respiratory or mucous membrane contact to respiratory 
        secretions (such as spit or nose mucus). This requires also wearing a mask upon entry.
    </p>
    <p>
        Airborne precautions is necessary for patients susceptible to certain infectious agents that remain infectious over long distances when 
        suspended in the air (tuberculosis is a very common one). To ensure the integrity of the air the patient breathes as much as possible,
        very careful measures are implemented. The patient's door must be completely shut at all possible times. Anyone who enters must wear a 
        suit (wearing a mask will only block so much of a person's breathing), which is only to be used once and thrown away. The patient is also 
        to be placed on a ventilator, which is a medical device that provides sterile oxygen for them to breathe safely. These ventilators are
        usually already installed into the patient room itself, and it is part of the nurse's responsibility to monitor it regularly to ensure it
        is working and at the appropriate settings.
    </p>
    <p>
        When dealing with an open wound, tissue, surgical site, etc, special gloves called sterile gloves are required. In order to preserve the
        integrity of these gloves, they need to be put onto the hands in a very precise and detailed way called sterile glove technique. If during
        the process of putting them on, a nurse feels he/she practiced poor sterile glove technique in any way, the gloves must be thrown away, 
        the nurse must try again with a new set of gloves.
    </p>
    <p>
        The second most important invention for nursing is aspiration. Aspiration is a term that refers to a sucking motion and has two medical 
        definitions. The one we will talk about here is pulmonary (lung) aspiration, which is when a foreign object enters the respiratory 
        pathway when it shouldn't. In everyday language, this is usually when we refer to some piece of food "going down the wrong tube".
    </p>
    <p>
        Along with sterility, one of the most vital parts of a patient's survivability is his/her ability to breathe. Without sufficient oxygen, 
        tissues do not have the ability to function whatsoever, and eventually they will necrotize (or die). Furthermore, without oxygen, cellular 
        respiration isn't possible, and ATP production will rely on anaerobic respiration, which is not sufficient levels of energy, especially at 
        such a crucial time. 
    </p>
    <p>
        Finally, one of the results of a patient accidentally aspirating is that whatever the patient aspirated could become trapped inside their 
        lungs for an extended period of time. Pulmonary membranes are among the most delicate and fragile membranes in the body because in order to
        allow the most effective level of gas exchange permeability (or diffusibility), they have to be as thin as they possibly can. One of the side 
        results of this is it leaves them most susceptible to pulmonary infection, which is most often seen in the form of pneumonia. Often these 
        instances of pulmonary infection are the result of water or secretion buildup that lays trapped in the lungs for a long time and draws 
        bacteria to it, but aspirated foreign substances can be the cause as well. Thus, if a patient is in the hospital for another reason, but 
        due to an accidental bout of aspiration that went undetected for a while, the patient could suddenly develop infection and the situation 
        could turn life-threatening quickly.
    </p>
    <p>
        So for all these reasons, nurses must always be very aware of everything related to a patient's airway being completely clear. If a patient 
        is in very critical condition and has very low energy, for example, doctors must determine if they feel the patient is safe enough to each 
        solids, or if they need a liquid-only diet. The ability to swallow well is very important to prevent aspiration while eating, and some patients 
        are too weak to take the risk. Even for some patients who are allowed solids, sometimes nurses are ordered to watch the patient through the 
        entire meal to make sure everything was swallowed correctly and no signs of aspiration occured.
    </p>
    <p>
        On a side note, it is also general medical practice that in any medical emergency, a patient's airway is always the priority. Even if the 
        has a severe laceration and is bleeding profusely, if that patient also has something stuck in their airway and they cannot breathe, then the 
        priority is always to remove the obstruction and open the airway again before trying to stop the bleeding.
    </p>
    <p>
        The reason why aspiration occurs is... (finish this part later)
    </p>
    <p>
        The last crucial nursing intervention that will be talked about here is ambulation. Along with unobstructed airways and anti-sepsis, another 
        vital part of survival success is keeping blood vessels clean. One of the greatest problems with keeping patients at strict bed-rest in long-term 
        care, especially if the patients are of older age, is that being completely idle so much stagnates the body's flow of blood and can lead to
        blood clotting (embolism), and those blood vessel blockages can lead to stroke and/or death. Older patients are most concerning because many 
        already have some history of embolism or arteriosclerosis (narrowing of blood vessel walls due to plaque buildup), putting them at even greater 
        risk. As the possibility of developing a stroke while hospitalized is often worse than any other, regardless of the patient's cirumstances, 
        ambulation is almost always required for every single patient, usually at least once a day. If the patient is suffering from a leg injury, or 
        if the patient is just so weak they cannot walk easily on their own, then the nurse will assist them, sometimes using some type of ambulation-aid
        equipment.
    </p>
</div>