<div class="review-topic-bodies hidden" id="topic-two">
    <h3>
    Homeostasis
    </h3>
    <h4>
        "And I hope you always stay the same..."
        <br>
        - Joey McIntyre
    </h4>
    <h4 class="keywords-title">Keywords for this section</h4>
    <div class="keywords-divs">
    <li>"homeo"</li>
    <li>"stasis"</li>
    <li>Susceptible</li>
    <li>Contol Center</li>
    <li>Neurological Pathways/Neurons</li>
    <li>Receptors/Effectors</li>
    <li>Sensory (Afferent)</li>
    <li>Motor (Efferent)</li>
    </div>
    <p>
    It is very important when learning scientific terminology to break the term up into all of the small root
    words that comprise it. At times it may seem annoying and pointless, but in the long-run, especially when
    seeking a future career in the medical field, it will be tremendously beneficial. Keep in mind that most
    languages are a derivation of Latin (medical terms in particular are almost entirely), so whenever a root
    word is defined on this site, it is Latin based unless otherwise noted.
    </p>
    <p>
    "homeo" means "similar".
    </p>
    <p>
    "stasis" means "equilibrium".
    </p>
    <p>
    When your laptop gets overwhelmed, you can easily tell because it gets overheated and the fans very loudly
    kick-in to try to cool it down. It is unhappy because is out of its "comfort zone". It has to strain harder,
    and if it is asked to go to the furthest extreme, there is a chance maybe some wires will fuse or something
    will crash, and it will break.
    </p>
    <p>
    Your body behaves in a similar way. There are optimal "settings" at which your body functions optimally.
    These settings include temperature, blood-sugar level, and oxygen level, amongst others.
    </p>
    <p>
    As macro-organisms, we are not expected to micro-manage everything going on internally ourselves. Like in our
    computer example, computers are designed to have that basic user interface (keyboard and mouse) to give simple
    commands, but everything else that carries out the command given by the user is done internally with millions
    of tiny moving parts and steps. We don't see it visually, but the computer itself does almost entirely everything
    during UX/UI interaction, and we usually just enjoy the fruits of its labor.
    </p>
    <p>
    The body subconsciously performs a gigantic amount of the interventions human beings need to perform as well
    as possible. One of the greatest gifts it provides us is self-defense.
    </p>
    <p>
    Usually we as macro-organisms are not even aware when we encounter pathogens or something dangerous to our
    wellbeing. That is one of the many reasons it wouldn't make sense for us, on the conscious level, to be in
    charge of our own self-defense to begin with.
    </p>
    <p>
    The computer fan turning on when the computer is overheated is a pre-programmed method that a developer installed
    into the computer before it was sold. Homeostasis can also be thought of as a simlar-type method. Your body monitors
    itself at every moment of life, and the second it senses something "irregular" or "extreme" that could be
    harmful to you, it implements certain interventions and methods of its own to try to "correct" it (or simply restore
    the balance, or equilibrium, or your body again).
    </p>
    <p>
    To make this mechanism of homeostasis possible, the body has countless sensory receptors stationed everywhere.
    These sensors are the ones that continually take "readings" and transmit their findings back through neurons
    to the control center, which for homeostasis, is usually located in the brain.
    </p>
    <p>
    The brain is made up of several different parts with different functions, and some of these parts are dedcated
    to subconscious decision-making. The hypothalamus is one of them, and it often ends up being the control center for 
    homeostasis. It self-sufficiently receives receptor findings and monitors them, makes judgements for action based
    upon its analysis, and sends out new orders for action when it decides that it needs to.
    </p>
    <p>
    To go back, it's the same as the pre-programmed temperature control method in the computer's CPU (central processing
    unit) being alerted from its temperature sensors that things are getting overheated, and that tiny microprocessor
    then sending a message back out to the computer's fan to turn itself on until the temperature is restored back to
    normal again. Thus the CPU is a tiny, internal, microprossing chip that is commonly referred to as the "brain" of a computer.
    </p>
    <p>
    It is important to always remember that for the human body, especially internally, extreme conditions are
    almost never a good thing. They put the body in the most vulnerable and riskiest positions for sickness and injury,
    and make our immune system the most susceptible to pathogen invasion. A great illustration of this is how
    seriously antisepsis ("anti" meaning "against"; "sepsis" meaning "infection") is regarded in hospitals. Anyone working
    in a hospital is forbidden from entering a patient room without practicing proper hand-cleansing (hand-contact
    is the #1 avenue of pathogen transmission in the world). Doctors are not protecting their own hands by using gloves, but
    rather guarding the patient from them, since in diseased states, immune systems are compromised, and thus are at
    far greater risk for exacerbated illness than a healthy person with normal homeostatic levels would be.
    </p>
    <p>
    Later on, we will explore why the three most crucial interventions that are repeatedly driven into the brains of
    nursing students before they are given nursing degrees are (1) antisepsis (2) aspiration and (3) ambulation.
    But for now, we will just briefly talk about antisepsis and move on. Nurses are usually in contact with
    patients more than anyone else, and if they do not adhere to strict antisepsis, then they are at risk of
    failing their most important duty as a nurse, which is to ensure the patient's illness is not exacerbated with
    further infection.
    </p>
    <p>
    To get back to the topic at hand, "homeostasis" almost literally means "similar equilibrium". Every type of
    organism has its own pre-wired setting-levels of internal equilibrium that are ideal for living. Humans have
    their own, and those certain sections of the human brain exist solely to try to maintain that comfy zone as
    much as they can for our bodies.
    </p>
    <p>
    The most common representation of homeostasis is a sinusoidal curve on a two-dimensional grid. The below picture shows
    this on the right side, while the left side represents how homeostatic mechanism works, as described above:
    </p>
    <img src="../images/homeostasis.jpeg" class="homeostatis-image">
    <p>
    Let's start with the right side. The graph represents the environment of the entire human body. In the middle
    blue area is the safe zone, where your body is in general homeostasis, and there is little risk of something
    bad happening. When that begins to sway, into the extreme red areas on the top and bottom, the body is in danger,
    and thus it knows it must do something to try to fight it.
    </p>
    <p>
    If, for instance, the body is in 120degreeF heat in a desert somewhere, the curve in the graph would rise and 
    enter the upper red extreme area. The body would then implement a mechanism to try to cool itself back down,
    such as directing all of its sweat glands to produce as much sweat as possible and excrete it to the skin surface
    as quickly as possible.
    </p>
    <p>
    The left side we will refer to as the HOMEOSTATIC CIRCLE: an imbalance alerts receptors, receptors 
    send a signal to the control centers of the brain, the brain sends directions or a response plan to effectors,
    and effectors carry out the plan as long as they have to.
    </p>
    <p>
    The nervous system functions in an almost back-and-forth way. The brain is in charge of everything. It makes all 
    decisions, whether consciously, when you swing your arms around, or subconsciously, when you blink your eyes. But 
    in order to make decisions, it needs to gather information to base its decisions off of.
    </p>
    <p>
    Thus there is the sensory side, which gathers data, and a motor side, which carries out the brain's commands.
    </p>
    <p>
    The sensory side receptors gather the data, the brain processes the data, and motor receptors receive the brain's 
    orders and carry them out. In between them all are neurological pathways, which are basically just a huge subway
    system of neurons strung together, which allow communication to be transmitted between them.
    </p>
    <p>
    "Afferent" pathways simply go towards organ systems, such as the brain, while "efferent" pathways leave them. Thus everything
    in the first part of the homeostatic process, or the LEFT side of the HOMEOSTATIC CIRCLE above, can be thought of as afferent,
    while everything in the last part, the RIGHT side of the HOMEOSTATIC CIRCLE (as soon as a signal leaves the brain), is efferent.
    </p>
    <p>
    Now let's go back to our root words. "fer" is the Latin verb meaning "to carry", much like a "ferry" is a boat which
    carries people.
    </p>
    <p>
    The "af" prefix is a variant of "ad", which means "towards", such as the word "adjuct" which means to
    connect two things. The two stems put together compose the root word "afferens" means "carrying towards".
    </p>
    <p>
    Likewise, the "ef" prefix is a variant of "ex", much like an "exodus" is the departure of a place, and it means "out or away".
    Thus, the root word "efferens" means "carrying off" or "carrying away".
    </p>
</div>