@import "./variables.css";
@import "./nav.css";
@import "./basics.css";
@import "./topics.css";
@import "./media.css";
@import "./studytools.css";
@import "./flashcard.css";
@import "./gamecenter.css";
@import "./notetaking.css";

* {
    box-sizing: border-box;
}
  
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

.button-materialize-style {
    display: inline-block;
    position: fixed;
    width: 56px;
    height: 56px;
    left: 15px;
    top: 15px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: #ff9800;
    overflow: hidden;
    z-index: 2;
}
.button-white-dot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
}
.button-materialize-style:hover {
    cursor: pointer;
}
.background-image-floating {
    position: fixed;
    width: 85%;
    height: 85%;
    right: 0;
    bottom: 0;
    background: url('../images/anatomybackground.png');
    background-position-x: right;
    background-position-y: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -5;
}

.flex-container {
    width: 100%;
    padding: 20px 0 0 0;
    background: transparent;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    margin: 0;
    background: white;
}
.sticky ~ .review-topic-bodies {
    margin-top: 230px;
}
.selected {
    background: #ff9800;
    color: white;
}
.selected-text{
    color: #ff9800;
}
.col-lis.selected {
    background: dodgerblue;
}
.hidden {
    display: none;
}
.flip {
    transform: rotateY(-180deg);
}
.hoverable {
    -webkit-transition: -webkit-box-shadow .5s;
    transition: -webkit-box-shadow .5s;
    transition: box-shadow .5s;
    transition: box-shadow .5s, -webkit-box-shadow .5s;
}
.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}