<nav class="navbar"></nav>
<ul class="navlinks">
    <li class="navlinks-link selected" id="nav-first-link"><%= BASICS %></li>
    <li class="navlinks-link" id="nav-second-link"><%= MEDIA %></li>
    <li class="navlinks-link" id="nav-third-link"><%= STUDY_TOOLS %></li>
    <li class="navlinks-link" id="nav-fourth-link"><%= NOTETAKING_CENTER %></li>
</ul>