<div class="game-center">
    <img src="../images/gamecenterbackground.jpg" alt="" class="game-center-background">
    <img src="../images/fullscreen.png" alt="" class="game-center-fullscreen hoverable">
    <img src="../images/minimize.png" alt="" class="game-center-minimize hoverable hidden">
    <div class="quiz-scoreboard hidden">
        <div class="quiz-timer">
            <div>
                Time(sec)
            </div>
            <div class="time-remaining">
                6
            </div>
        </div>
        <div class="quiz-score">
            <div>
                Score
            </div>
            <div class="total-score">
                0
            </div>
        </div>
    </div>
    <div class="traffic-light hidden">
        <div class="lights red-light">
            READY
        </div>
        <div class="lights yellow-light">
            SET
        </div>
        <div class="lights green-light">
            GO
        </div>
    </div>
    <img src="../images/nextpageleft.jpg" alt="" class="explanations-toggle explanations-toggle-left hoverable hidden">
    <img src="../images/nextpageright.jpg" alt="" class="explanations-toggle explanations-toggle-right hoverable">
    <div class="game-center-title">Are You An Expert?</div>
    <div class="game-center-explanations-div">
        <div class="explanations">
            <div class="first-explanation">
                Before you become an M.D. and begin curing patients, it is crucial that you have a complete,
                expert understanding of basic anatomy and how the body works. The game center is going to assume
                you already finished studying all the topics or you're just reviewing old knowledge, and give the following
                quiz questions randomly, without categories.
            </div>
            <div class="second-explanation">
                High scores will be saved and added to the scoreboard. At the end of each month, the person with the
                highest score will earn a free prize from the prize center.
                <br><br>
                Questions will be timed, and a skipped question is the same as an incorrect one. Good luck!
            </div>
            <div class="third-explanation">
                <img src="../images/refresh.png" alt="" class="game-center-refresh hoverable">
                <div class="begin-button">
                    BEGIN
                </div>
                <div class="quiz-div hidden">
                    <div class="quiz-question">
                        Which of the following below is a correct path of blood flow through the heart?
                    </div>
                    <div class="quiz-answers answer-a">
                        Superior Vena Cavae > Right Atrium > Right Ventricle > Pulmonary Artery > 
                        Pulmonary Capillaries > Pulmonary Veins > Left Atrium > Left Ventricle > Aorta
                    </div>
                    <div class="quiz-answers answer-b">
                        Superior Vena Cavae > Left Atrium > Left Ventricle > Right Atrium > Right Ventricle > Aorta
                    </div>
                    <div class="quiz-answers answer-c">
                        Aorta > Left Ventricle > Right Ventricle > Pulmonary Artery > Pulmonary Capillaries >
                        Pulmonary Veins > Right Atrium > Right Ventricle > Superior Vena Cavae
                    </div>
                    <div class="quiz-answers answer-d">
                        Aorta > Left Ventricle > Left Atrium > Pulmonary Veins > Pulmonary Capillaries > 
                        Pulmonary Artery > Right Ventricle > Right Atrium > Superior Vena Cavae
                    </div>
                    <div class="quiz-answers answer-e">
                        None of the above
                    </div>
                </div>
                <div class="quiz-times-up hidden">
                    Time's Up!
                </div>
            </div>
        </div>
    </div>
</div>