<div class="body-divs fourth-div hidden">
    <h2>Notetaking Center</h2>
    <div class="notetaking-div">
        <div class="notepad">
            <form action="post">
                
            </form>
        </div>
        <div class="clipboard">

        </div>
    </div>
</div>